body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #00308F;
    background-clip: content-box;
}
header nav
{
    float:right;
    margin-top: 0px;
    width: 100%;
    background: #5072A7;
}

header .highlight, header .current a{
    color: #dadada;
    font-family: sans-serif;
}
ul
{
    width: 90%;
    margin: 0 auto;
    padding: 1;
}
ul li
{
    list-style: none;
    display: inline-block;
    padding: 12px;

}
ul li:hover
{
    background: #C0C0C0;
    text-decoration: line-through ;
}
ul li a
{
    color: #fff;
    text-decoration: none ;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: #001d44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
    .toggle
    {
        display: black;
    }
    ul
    {
    width: 100%;
    border-color: #ffffff;
    }
    ul li
    {
    font-family: monospace;
    text-align: center;
    }
    .active
    {
        display: block;
    }

/*showcase for the middle*/
#showcase{
    min-height: 400px;
    background: #ffffff url(cv.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px  #1f1f1f ;
}
