body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #a1f213;
}
nav
{
    width: 100%;
    background: #5d8aa8;
}
ul
{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li
{
    list-style: none;
    display: inline-block;
    padding: 12px;
}
ul li:hover
{
    background: #C0C0C0;
}
ul li a
{
    color: #fff;
    text-decoration: ;
}
.toggle
{
    width: 100%;
    padding: 10px 20px;
    background: #001d44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
    .toggle
    {
        display: black;
    }
    ul
    {
    width: 100%;
    border-color: #ffffff;
    }
    ul li
    {
    font-family: monospace;
    text-align: center;
    }
    .active
    {
        display: block;
    }